<h4>Add a new sword to {{name}} lot:</h4>

<form>
  <label>Sword Details</label>
  {{input value=swordName id="swordName" class="form-control" placeholder="sword name"}}
  {{input value=swordOwner id="swordOwner" class="form-control" placeholder="sword owner"}}
  {{input value=year id="year" class="form-control" placeholder="year of acquisition"}}
  {{textarea rows="3" cols="60" value=swordDescription id="swordDescription" class="form-control" placeholder="Description (e.g. His royal highness King Arthur's legendary sword he pulled from the stone that fateful day)"}}
  {{input value=startingBid id="startingBid" class="form-control" placeholder="starting bid (e.g. $10,000,000,000.23)"}}
  {{input value=estValue id="estValue" class="form-control" placeholder="estimated value (e.g. $10,000,000,000.43)"}}

  <button class="btn btn-sleek" {{action "save"}}>Add sword to lot</button>
</form>
