<h2 class="center">Info for {{name}} lot:</h2>
<div class="col-xs-6">
  <p>{{image}}</p>
  <img {{bind-attr src=image}}>
  <h4>Here are the swords in the {{name}} lot:</h4>

  <ul>
  {{#each sword in swords}}
    <li>{{sword.name}} | {{#link-to 'sword-details' sword}}Show Details{{/link-to}}</li>
  {{/each}}
  </ul>

  {{#link-to 'add-sword' classNames="btn btn-sleek"}}Add a new sword{{/link-to}}

  <div>
  <br />
  {{#link-to 'lots' classNames="btn btn-sleek"}}See list of lots{{/link-to}}
  </div>
</div>
<div class="col-xs-6">
  {{outlet}}
</div>
