<h4>Sword Details</h4>


<p>Sword Name: {{name}}</p>
<p>Owner: {{owner}}</p>
<p>Year of acquisition: {{year}}</p>
<p>Description: {{description}}</p>
<p>Starting Bid: ${{startingBid}}</p>
<p>Estimated Value: ${{estValue}}</p>
